obj
bin
deploy
deploy/*
test-results/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.userprefs
*.pidb
*.swp
*.sdf
*~
SolutionVersion.cs
lib/MoMA/Reports/submit.xml
build_output
ReleaseBinaries
code_drop
TestResult.xml
openlocal.sh
openlocal.bat
~$*
Debug/
Release/
AutoTest.VS.xml
ldeploy.bat
*_mm_cache.bin
.OpenIDE/active.profile
*.sublime-project
*.sublime-workspace
oi-definitions.json
/MMProfiler/main/MMProfiler/MMProfiler_i.c
/MMProfiler/main/MMProfiler/MMProfiler_i.h
/MMProfiler/main/MMProfiler/dlldata.c
/MMProfiler/main/ipch
/MMProfiler/main/x86/**
/MMProfiler/main/x64/**
/MMProfiler/main/**/x86/**
/MMProfiler/main/**/x64/**
/MMProfiler/main/**/obj/**
/MMProfiler/main/**/bin/**
/MMProfiler/main/_ReSharper.MMProfiler
/MMProfiler/main/MMProfiler.opensdf
/MMProfiler/main/AutoTest.config
/MMProfiler/main/AutoTest.config.old
/MMProfiler/main/MMProfiler/MMProfiler64_i.c
/MMProfiler/main/MMProfiler/MMProfiler64_i.h
/MMProfiler/main/MMProfiler/MMProfiler.aps
/MMProfiler/main/MMProfiler_mm_cache.bin
