obj
bin
deploy
deploy/*
test-results/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.userprefs
*.pidb
SolutionVersion.cs
lib/MoMA/Reports/submit.xml
build_output
ReleaseBinaries
code_drop
TestResult.xml
openlocal.sh
openlocal.bat
~$*
Debug/
Release/
AutoTest.VS.xml
ldeploy.bat
*_mm_cache.bin

