<?xml version="1.0"?>
<configuration>
    <Provider>php</Provider>
    <StartPaused>true</StartPaused>
    <DirectoryToWatch>TestResources</DirectoryToWatch>
    <BuildExecutable>C:\Somefolder\MSBuild.exe</BuildExecutable>
    <BuildExecutable framework="v3.5">C:\SomefolderOther\MSBuild.exe</BuildExecutable>
    <BuildExecutable framework="9.0.30729">C:\ProductVersionFolder\MSBuild.exe</BuildExecutable>
    <MSBuildAdditionalParameters>more params</MSBuildAdditionalParameters>
    <MSBuildParallelBuildCount>3</MSBuildParallelBuildCount>
    <UseAutoTestTestRunner>false</UseAutoTestTestRunner>
    <CodeEditor>
      <Executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv</Executable>
      <Arguments>/Edit "[[CodeFile]]" /command "Edit.Goto [[LineNumber]]"</Arguments>
    </CodeEditor>
    <NUnitTestRunner>C:\Somefolder\NUnit\nunit-console.exe</NUnitTestRunner>
    <NUnitTestRunner framework="v3.5">C:\SomefolderOther\NUnit\nunit-console.exe</NUnitTestRunner>
    <MSTestRunner>C:\Somefolder\MSTest.exe</MSTestRunner>
    <MSTestRunner framework="v3.5">C:\SomefolderOther\MSTest.exe</MSTestRunner>
    <XUnitTestRunner>C:\Somefolder\XUnit\xunit.console.exe</XUnitTestRunner>
    <XUnitTestRunner framework="v3.5">C:\SomefolderOther\XUnit\xunit.console.exe</XUnitTestRunner>
    <growlnotify>C:\Meh\growlnotify.exe</growlnotify>
    <notify_on_run_started>false</notify_on_run_started>
    <notify_on_run_completed>false</notify_on_run_completed>
    <IgnoreFile>myignorefile.txt</IgnoreFile>
    <ShouldIgnoreTestAssembly>
		<Assembly>*System.dll</Assembly>
		<Assembly>meh.exe</Assembly>
	</ShouldIgnoreTestAssembly>
	<ShouldIgnoreTestCategories>
		<Category>Category1</Category>
		<Category>Category2</Category>
	</ShouldIgnoreTestCategories>
	<changedetectiondelay>95</changedetectiondelay>
	<CustomOutput>bin\CustomOutput</CustomOutput>
	<RerunFailedTestsFirst>true</RerunFailedTestsFirst>
    <WhenWatchingSolutionBuildSolution>true</WhenWatchingSolutionBuildSolution>
  <UseLowestCommonDenominatorAsWatchPath>false</UseLowestCommonDenominatorAsWatchPath>
    <Debugging>true</Debugging>
  <SomCustomStuff>content</SomCustomStuff>
  <WatchAllFiles>true</WatchAllFiles>
  <RunAssembliesInParallel>true</RunAssembliesInParallel>
  <TestRunnerCompatibilityMode>true</TestRunnerCompatibilityMode>
  <LogRecycleSize>123456789</LogRecycleSize>
  <ShouldIgnoreProject>
    <Project>*MyProject.csproj</Project>
    <Project>FullPathTo/aproject.csproj</Project>
  </ShouldIgnoreProject>
</configuration>
