<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<mm-GraphProvider>BUILTINDARK</mm-GraphProvider>
	<mm-MinimizerDebug>false</mm-MinimizerDebug>
	<mm-ProfilerSetup>RUN</mm-ProfilerSetup>
	<mm-RealtimeFeedback>false</mm-RealtimeFeedback>
	<BuildExecutable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</BuildExecutable>
	<WhenWatchingSolutionBuildSolution>false</WhenWatchingSolutionBuildSolution>
	<notify_on_run_started>false</notify_on_run_started>
	<Debugging>true</Debugging>
</configuration>