obj
bin
default/
deploy
deploy/*
test-results/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.userprefs
*.pidb
SolutionVersion.cs
lib/MoMA/Reports/submit.xml
build_output
build_outputAnyCPU
build_outputx86
ReleaseBinaries
code_drop
TestResult.xml
openlocal.sh
openlocal.bat
~$*
Debug/
Release/
AutoTest.config
AutoTest.config.old
*_mm_cache.bin
*~
*.swp
*.nupkg
/AutoTest.NET.sln.DotSettings.user
*.sublime-project
*.sublime-workspace
.OpenIDE/active.profile
oi-definitions.json
